$font-stack: Helvetica, sans-serif;
$primary-color: #333;

html * {
  margin: 0px;
}

.navbar-wrapper {
  display: flex;
  height: 100px;
  justify-content: space-between;
  margin-top: 25px;

  .logo {
    margin-left: 40px;
  }

  .navbar {
    justify-content: flex-end;
    align-items: center;
    height: 100px;

    a {
      padding-right: 40px;
      text-decoration: none;
    }
  }
}

.hero-section-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 200px;

  .certificates-top-row-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 2/6;
  }

  .hero-image-wrapper {
    grid-column: 2/6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      height: 250px;
    }
  }

  .certificates-bottom-row-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 2/6;
  }
}
